body{
    text-align: center;
    background-color: darkslategrey;
    color: white;
}

#head{
    font-size: 50px;
    color: white;
}

h1{
    color: #ff9c9c;
    font-size: 35px;
}

h2{
    color: white;
    font-size: 30px;
}

h3{
    color: white;
    font-size: 27px;
}

body ol{
    font-size: 25px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.getN p{
    color: white;
    font-size: 30px;
}

.gameTab{
    display: none;
    background-color: #212e2e;
    margin: 40px;
    padding: 20px;
}

.gameTab img{
    width: 165px;
    height: auto;
}

.gameTab > p{
    color: white;
    font-size: 35px;
}

.but{
    height: 50px;
    width: 100px;
    font-size: 25px;
    font-family: auto;
    background-color: darkcyan;
    color: white;
    font-weight: 600;
}

.container{
    display: flex;
    justify-content: space-around;
}

.items{
    font-size: 22px;
    color: white;
    font-weight: 600;
    padding: 25px;
    display: flex;
    flex: 1;
}

#textbox, #mytext{
    font-size: 20px;
    padding: 20px;
    background-color: darkcyan;
    height: 150px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.myScore, .compScore{
    background-color: darkcyan;
    height: 35px;
    padding: 20px;
    font-size: 32px;
}

.scoreItems{
    display: flex;
    flex-direction: column;
    flex: 2;
    font-size: 21px;
}

.item{
    flex: 1;
}

.scoreCard{
    flex: 1;
    display: flex;
}

.turnsLeft{
    flex: 1;
}

body > p{
    font-size: 28px;
    color: white;
}

#solution{
    font-size: 20px;
    padding: 20px;
    color: white;
    background-color: darkcyan;
    font-weight: 600;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.start{
    width: 310px;
    height: 50px;
    margin: 20px;
    background-color: darksalmon;
    font-size: 25px;
    color: white;
    font-family: system-ui;
    font-weight: 500;
}

.footer{
    height: 50px;
}

.Notice{
    height: 600px;
    padding: 20px;
    margin: 40;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}